h1{
    text-align: center;
    color: rgb(45, 137, 91);
    background-color: black;
    border-radius: 30px;
    margin-left: 140px;
    margin-right: 140px;
    
}
.p2{
    background-color: blanchedalmond;
    text-align: center;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
}
body{
    background-image:url(image/exercise-motivation.jpg) ;
}